/* body {
  background: #e8d9b3;
} */

.designer-container {
  display: flex;
  position: relative;
  flex-direction: column;
}

.designer-image {
  position: absolute;
  width: 370px;
  height: 636px;
  left: 550px;
  top: 194px;

  background: url("../images/designerImage.png");
  border-radius: 150px;
}

.designer-text {
  position: absolute;
  width: 1059px;
  height: 170px;
  left: 225px;
  top: 445px;

  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 170px;
}

.designer-name {
  position: absolute;
  width: 228px;
  height: 36px;
  left: 630px;
  top: 919px;
  color: #6c4013;
  text-align: center;
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}
