.InvestNowLandingImageAndLogo {
  position: relative;
  width: 1595px;
  height: 515px;
  top: 116px;
}

.InvestNowFirstImage {
  width: 1585px;
  height: 515px;
}

.investNow-logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1585px;
  height: 515px;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.investNow-roleContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 1585px;
  height: 199px;
  left: 0px;
  top: 630px;
  color: white;
  background: #1c1b1b;
  font-family: "DM Sans";
  font-style: normal;
}
.investNow-roleContent > h3 {
  font-weight: 700;
}

.investNow-roleContent > p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.investNow-layoutDesign {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  width: 1585px;
  height: 791px;
  left: 0px;
  top: 828px;
  background: #e80000;
}

.investNow-layoutDesign > div {
  text-align: center;
  border: 1px solid blue;
}

.investNow-layoutDesign-lastContainer {
  grid-column: 3/5;
  padding: 40px;
}

.investNow-layoutDesign-lastContainer > h3 {
  font-family: "Argue DEMO";
  font-style: normal;
  font-size: 24px;
  color: #ffffff;
}

.investNow-layoutDesign-lastContainer > p {
  font-family: "DM Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.invest-work-overview {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 1585px;
  height: 570px;
  left: 0px;
  top: 1618px;
  background: #1b1b1c;
  color: #ffffff;
}

.invest-work-over-text {
  width: 30%;
  height: 400px;
  position: relative;
  top: -63px;
  left: 45px;
}

.invest-work-over-text h2 {
  position: relative;
  top: 110px;
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 84px;
}

.invest-work-over-text-para {
  position: relative;
  right: 30px;
  width: 45%;
  height: auto;
  font-family: "Circular Std";
  font-style: normal;
  line-height: 32px;
  color: #ffffff;
}

.invest-problem {
  font-weight: 400;
  font-size: 18px;
  color: #cfcfcf;
}

.invest-solution {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
  color: #cfcfcf;
}

.invest-solution h4 {
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 5px;
}
