.container {
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1544;
  height: 515px;
  left: 0px;
  right: 0;
  top: 115px;
}

.nomad-logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1544px;
  height: 515px;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 1544;
  height: 515px;
  left: 0px;
  right: 0;
  top: 1px;
}

.img-1 img {
  width: 386px;
  height: 515px;
}

.img-2 img {
  width: 386px;
  height: 515px;
}

.img-3 img {
  width: 386px;
  height: 515px;
}

.img-4 img {
  width: 386px;
  height: 515px;
}
