.container {
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1544px;
  height: 515px;
  left: 0px;
  right: 0;
  top: 115px;
}

.nomad-logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1544px;
  height: 515px;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 1544;
  height: 515px;
  left: 0px;
  right: 0;
  top: 1px;
}

.img-1 img {
  width: 386px;
  height: 515px;
}

.img-2 img {
  width: 386px;
  height: 515px;
}

.img-3 img {
  width: 386px;
  height: 515px;
}

.img-4 img {
  width: 386px;
  height: 515px;
}

.roleContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 1544px;
  height: 199px;
  left: 0px;
  top: 630px;
  color: white;
  background: #1c1b1b;
}

.roleContent {
  width: auto;
  height: 120px;
  padding: 10px;
  line-height: 24px;
  font-family: "Circular Std";
}

.macbook-pro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1544px;
  height: 816px;
  left: 0px;
  top: 310px;
  background: #051045;
}

.macbook {
  position: absolute;
  width: 734.5px;
  height: 486px;
  left: 400px;
  top: 170px;
}

.macbook-content {
  position: absolute;
  width: 628px;
  height: 393.75px;
  left: 452px;
  top: 223px;
}
