.saudipixLandingImageAndLogo {
  position: relative;
  width: 1595px;
  height: 515px;
  top: 116px;
}

.saudipixFirstImage {
  width: 1585px;
  height: 515px;
}

.saudipix-logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1585px;
  height: 515px;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.saudipix-roleContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 1585px;
  height: 199px;
  left: 0px;
  top: 630px;
  color: white;
  background: #1c1b1b;
  font-family: "DM Sans";
  font-style: normal;
}
.saudipix-roleContent > h3 {
  font-weight: 700;
}

.saudipix-roleContent > p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.saudipix-miniIpad-section {
  text-align: center;
  position: relative;
  width: 1585px;
  height: 750px;
  top: 310px;
  background: #1b2b35;
}

.saudipix-miniIpad-section > div {
  position: relative;
  top: 120px;
}

.saudipix-background-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 1585px;
  height: 762px;
  left: 0px;
  top: 1570px;
  background: #ffffff;
}

.saudipix-background-large-text {
  position: relative;
  top: -65px;
  left: 45px;
  width: 30%;
  height: 400px;
}

.saudipix-background-large-text h2 {
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 84px;
  color: rgba(75, 75, 75, 0.5);
}

.saudipix-background-paragraph {
  position: relative;
  right: 85px;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  color: #000;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.saudipix-para {
  padding: 0px 20px 20px 20px;
}

.saudipix-para h4 {
  margin: 10px 0;
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #febc2c;
}

.saudipix-problemAndSolution {
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #49555d;
  margin: 10px 0;
}

.saudipix-myroleandsolution {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1585px;
  height: 656px;
  top: 1060px;
  color: #fff;
  background: #1c1b1b;
}

.saudipix-myrole {
  width: 40%;
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 76px;
  margin-bottom: 30px;
}

.saudipix-myrole > h4 {
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #febc2c;
  margin-bottom: 30px;
}

.saudipix-myrolepara {
  width: 40%;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
}
