.waterLandingImageAndLogo {
  position: relative;
  width: 1585px;
  height: 515px;
  top: 116px;
}

.waterFirstImage {
  width: 1585px;
  height: 515px;
}

.water-logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1585px;
  height: 515px;
  left: 0;
  top: 0;
  z-index: 1;
}

.water-roleContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 1585px;
  height: 199px;
  left: 0px;
  top: 630px;
  color: white;
  background: #1c1b1b;
  font-family: "DM Sans";
  font-style: normal;
}
.water-roleContent > h3 {
  font-weight: 700;
}

.water-roleContent > p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.water-background-section {
  position: relative;
  width: 1585px;
  height: 400px;
  top: 310px;
  background: #005e8a;
  display: flex;
  justify-content: space-around;
}

.water-bg-text {
  position: relative;
  top: 130px;
  left: 70px;
  width: 35%;
  height: 200px;
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 84px;
  color: #ffffff;
}

.water-bg-para {
  width: 40%;
  height: 200px;
  position: relative;
  top: 130px;
  left: 10px;
}

.water-bg-line-and-aboutWaterTalk {
  display: flex;
  margin-bottom: 20px;
}

.water-bg-line-container {
  margin: 10px 20px 10px 0;
}

.water-insight-line {
  width: 32px;
  border: 2px solid #f2f2f2;
}

.water-bg-aboutWaterTalk {
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
}

.water-bg-paragraph {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.water-wireframe {
  position: relative;
  width: 1585px;
  height: 4160px;
  top: 310px;
  background: #1c1b1b;
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  color: #ffffff;
}

.water-wireframe-header {
  position: relative;
  top: 60px;
  left: 160px;
}

.water-wireframe-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 2rem;
  position: relative;
  top: 130px;
  left: 160px;
  width: 80%;
}

.water-wireframe-images > div {
  width: 250px;
}

.water-wireframe-high-fidelity {
  position: relative;
  top: 180px;
  left: 160px;
}

.water-wireframe-high-fidelity-onboarding {
  position: relative;
  top: 220px;
  left: 160px;
  font-family: "Recoleta";
  font-size: 24px;
}

.water-HF-onboarding-images {
  display: flex;
  position: relative;
  top: 270px;
  left: 160px;
}

.water-wireframe-high-fidelity-login-and-signUp {
  position: relative;
  top: 300px;
  left: 160px;
  font-family: "Recoleta";
  font-size: 24px;
}

.water-HF-Login-SignUp {
  display: flex;
  position: relative;
  top: 350px;
  left: 160px;
}

.water-wireframe-high-fidelity-forgotPwd {
  position: relative;
  top: 370px;
  left: 160px;
  font-family: "Recoleta";
  font-size: 24px;
}

.water-HF-forgotPwd {
  display: flex;
  position: relative;
  top: 425px;
  left: 160px;
}

.water-wireframe-high-fidelity-prototype {
  position: relative;
  top: 510px;
  left: 150px;
  width: 1000px;
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 92px;
}

.water-prototype-header {
  font-size: 84px;
}

.water-prototype-shortnote {
  font-family: "Circular Std";
  font-size: 18px;
  line-height: 54px;
}

.water-prototype-link {
  color: #ffffff;
}

.water-pagination-container {
  position: relative;
  top: 550px;
}
