.pagination-container {
  display: flex;
  justify-content: space-between;
  width: 1585px;
  border-top: 0.4px solid #ffffff;
}

.lightText {
  display: flex;
  /* border: 1px solid red; */
  margin: 60px 60px 0 60px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 20px;
  color: #ffffff;
}

.lightText > p {
  margin: 0 10px 0 10px;
}

.darkText {
  display: flex;
  margin: 60px 60px 0 60px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 20px;
  color: #171f24;
}

.darkText > p {
  margin: 0 10px 0 10px;
}
